# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\NIGDRIVE\100_python_excersises\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
