@import url('https://use.fontawesome.com/releases/v5.10.2/css/all.css');

body{
    margin-left: 70px;
    margin-top: 70px;
    line-height: 2;
}
a{
    text-decoration: none;
    color: white;
    border-radius: 2px;
    background: green;
    padding: 7px;
}
p:nth-child(even)>a{
    background: orange;
}