<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="test_Forms.html">
    <label for id="123q">First name:</label><br>
    <input type="text" name="f_name" required id="123q" value="Enter first name" ><br>
    <label>Last name:</label><br>
    <input type="text" value="enter last name" ><br><br>
    <input type="Submit" ><br><br>
    <label>Choose number:</label><br>
    <input multiple type="number"><br><br>
    <input type="range" min="1" max="100"><br><br>

    <button>
        <a href="landing_page.html">The longest fucking button ever !!!</a>
    </button>


</form>

</body>
</html>